repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
    - id: go-fmt
    - id: go-vet
    - id: go-imports # go install golang.org/x/tools/cmd/goimports@latest
    - id: go-cyclo # go install github.com/fzipp/gocyclo/cmd/gocyclo@latest
      args: [-over=15]
    - id: validate-toml
    - id: no-go-testing
    - id: golangci-lint # curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/HEAD/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.64.5
    - id: go-critic # go install -v github.com/go-critic/go-critic/cmd/gocritic@latest
    - id: go-unit-tests
    - id: go-build
    - id: go-mod-tidy
